
.glyphButtonBar {
    font-size: 1.5em;
    color: #abd;
}

.btn-primary.active, .btn-primary:active {
    background-color: #bbe;       
    border-color: #245580;
  /*background-color: #dbd;*/
  /*background-image: linear-gradient(to bottom,#9ac 0, #dbd 100%);*/
}

.well {
  background: #ffffff;
}
.settings-header {
  font-family:Trebuchet MS;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
