
.glyphButtonBar {
    font-size: 1.5em;
    color: #abd;
}

.btn-primary.active, .btn-primary:active {
    background-color: #bbe;       
    border-color: #245580;
  /*background-color: #dbd;*/
  /*background-image: linear-gradient(to bottom,#9ac 0, #dbd 100%);*/
}

.well {
  background: #ffffff;
}