<div class="container">
  <div class="row">
    <div class="btn btn-primary ml-1" (click)="rotate()"><span class='fa fa-rotate-left'></span>&nbsp;Rotate</div>
    <div class="btn btn-primary ml-1" (click)="delete()"><span class='fa fa-trash'></span>&nbsp;Delete</div>
    <div class="btn btn-primary ml-1" (click)="transformGCode()"><span class='fa fa-list-ol'></span>&nbsp;Transform to GCode</div>
  </div>
  <div class="row">
    <div style="display: inline-flex; border: 1px dashed #888888;" #preview></div>
  </div>
</div>