<div class="text-center col-4">
  <div class="form-group">
    <label>Pulse Width:</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="calc.pulseWidth" type="number" min=0 max=100 placeholder="Pulse length">
      <div class="input-group-append">
        <div class="input-group-text">ms</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>PPI:</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="calc.ppi" type="number" min=0 max=5000 placeholder="PPI">
      <div class="input-group-append">
        <div class="input-group-text">pulses/in</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Feed Rate:</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="calc.feedRate" type="number" min=0 max=10000 placeholder="Feed rate mm/min">
      <div class="input-group-append">
        <div class="input-group-text">mm/min</div>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label>Power Setting:</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]="calc.powerSetting" type="number" min=0 max=100 placeholder="%" />
      <div class="input-group-append">
        <div class="input-group-text">%</div>
      </div>
    </div>

  </div>
  <div class="form-group">
    <label>Ave Power/Pulse:</label>
    <div class="input-group">
      <input class="form-control" [(ngModel)]='calc.power' type="number" min=0 max=500 placeholder="W">
      <div class="input-group-append">
        <div class="input-group-text">W</div>
      </div>
    </div>
  </div>
</div>

<form>


  <div class="form-group">
    <label class="col-2">PPmm</label>
    <label class="col-auto">=</label>
    <span class="col-auto">{{ppmm() | number:'1.1-4'}} pulses/mm</span>
  </div>
  <div class="form-group">
    <label class="col-2">PPs</label>
    <label class="col-auto">=</label>
    <span class="col-auto">{{pps() | number:'1.1-4'}} pulses/s</span>
  </div>
  <div class="form-group">
    <label class="col-2">Pulse Period</label>
    <label class="col-auto">=</label>
    <span class="col-auto" [ngClass]="pulsePeriod() <= calc.pulseWidth?'alert-danger':''">{{pulsePeriod() | number:'1.1-4'}} ms/pulse </span>
  </div>
  <div class="form-group">
    <label class="col-2">Duty cycle</label>
    <label class="col-auto">=</label>
    <span class="col-auto" [ngClass]="dutyCycle() > 100?'alert-danger':''">{{dutyCycle() | number:'1.1-4'}} %</span>
  </div>
  <div class="form-group">
    <label class="col-2">~Energy/pulse</label>
    <label class="col-auto">=</label>
    <span class="col-auto">{{energyPerPulse() | number:'1.1-4'}} Joules/pulse</span>
  </div>
  <div class="form-group">
    <label class="col-2">Cut Energy Density</label>
    <label class="col-auto ">=</label>
    <span class="col-auto">{{energyDensity() | number:'1.1-4'}} Joules/mm cut</span>
  </div>
  <div class="form-group">
    <label class="col-2">Power to Material</label>
    <label class="col-auto ">=</label>
    <span class="col-auto">{{powerToMaterial() | number:'1.1-4'}} W</span>
  </div>
</form>