<div class="well">
  <tabset>
    <tab heading="Laser PPI Calculator">
      <laser-ppi-calculator></laser-ppi-calculator>
    </tab>
    <tab heading="Mitre box wizard">
      <generator-wizard [generator]="mitreBoxGenerator" [header]="'Mitre box parameters'"></generator-wizard>
    </tab>
    <tab heading="Text wizard">
      <generator-wizard [generator]="textPathGenerator" [header]="'Generate text path'"></generator-wizard>
    </tab>
    <tab heading="Jigsaw wizard">
      <generator-wizard [generator]="jigsawGenerator" [header]="'Puzzle parameters'"></generator-wizard>
    </tab>
    <tab heading="Pattern wizard">
      <generator-wizard [generator]="patternGenerator" [header]="'Pattern parameters'"></generator-wizard>
    </tab>
    <tab heading="Cipher wheel wizard">
      <generator-wizard [generator]="chipherWheelGenerator" [header]="'Chipher parameters'"></generator-wizard>
    </tab>
    <tab heading="Material settings">
      <material-settings></material-settings>
    </tab>

  </tabset>
</div>