<div class="well">
  <tabset>
    <tab heading="Laser PPI Calculator">
      <laser-ppi-calculator></laser-ppi-calculator>
    </tab>
    <tab heading="Mitre box wizard">
      <mitre-box-wizard></mitre-box-wizard>
    </tab>
    <tab heading="Text wizard">
      <text-wizard></text-wizard>
    </tab>   
    <tab heading="Jigsaw wizard">
      <jigsaw-wizard></jigsaw-wizard>
    </tab>    
    <tab heading="Pattern wizard">
        <pattern-wizard></pattern-wizard>
    </tab>
    <tab heading="Cipher wheel wizard">
      <cipher-wheel-wizard></cipher-wheel-wizard>
    </tab>               
    <tab heading="Material settings">
      <material-settings></material-settings>
    </tab>

  </tabset>
</div>