
<div class="well" *ngIf="machine; else stillLoading">

  <!--
  <a ng-click="showMachine($event)">Show machine configuration</a>
  -->
  <div class="row">
    <file-dialog #fd (selectedFile)="onFile($event)" [resource]="resource"></file-dialog>
    <div class="col-sm"></div>
    <div class="col-sm">
      <span class="glyphButtonBar">
          <span class="btn btn-primary fa fa-folder-open" title="Open" (click)="fd.openDialog(false)"> Open</span>
          <span class="btn btn-primary fa fa-save" title="Save" (click)="onSave()"> Save</span>
      </span>
      <ng-content select="div[buttons]"></ng-content>
    </div>
    <div class="col-sm"></div>
  </div> 
  <tabset>
    <tab heading="General">
      <div class="col d-flex justify-content-center">
          <general-settings [machine]=machine></general-settings>
      </div>
    </tab>
    <tab heading="M0-M30">
      <div class="col justify-content-center">
          <mcode-settings></mcode-settings>
      </div>
    </tab>
    <tab heading="M100-M119">
      <div class="col justify-content-center">
          <mcode-ext-settings></mcode-ext-settings>
      </div> 
    </tab>
    <tab heading="User buttons">
        <div class="col justify-content-center">
            <user-buttons-settings></user-buttons-settings>
        </div> 
    </tab>

    <tab heading="Motion Parameters">
        <div class="col justify-content-center">
            <motion-parameters-settings [machine]=machine></motion-parameters-settings>
        </div>
    </tab>
    <tab heading="Import settings">
        <transformer-settings></transformer-settings>
    </tab>
  </tabset>
</div>
<ng-template #stillLoading><p>Loading...</p></ng-template>